@page "/"
@rendermode InteractiveServer
@inherits MvvmComponent<HomeViewModel>

@using BlazingPizza.Services


<PageTitle>Home</PageTitle>

<div class="main">
    <div class="top-bar">
        <a class="logo" href="">
            <img src="img/logo.svg" />
        </a>

        <a href="" class="nav-tab">
            <img src="img/pizza-slice.svg" />
            <div>Get Pizza</div>
        </a>
    </div>
    <h1>Blazing Pizzas</h1>
    <ul class="pizza-cards">
        @foreach (var special in ViewModel.Specials)
        {
            <li @onclick="@(() => ViewModel.ShowConfigurePizzaDialog(special))"
                style="background-image: url('@special.ImageUrl')">
                <div class="pizza-info">
                    <span class="title">@special.Name</span>
                    @special.Description
                    <span class="price">@special.GetFormattedBasePrice()</span>
                </div>
            </li>
        }
    </ul>
</div>

<div class="sidebar">
    @if (ViewModel.CurrentOrder.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in ViewModel.CurrentOrder.Pizzas)
            {
                <div class="cart-item">
                    <div class="title">@(configuredPizza.Size)" @configuredPizza.Special.Name</div>
                    <div class="item-price">
                        @configuredPizza.GetFormattedTotalPrice()
                    </div>
                    <a @onclick="@(() => ViewModel.RemovePizza(configuredPizza))" class="delete-item">x</a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza<br>to get started</div>
    }

    <div class="order-total @(ViewModel.CurrentOrder.Pizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@ViewModel.CurrentOrder.GetFormattedTotalPrice()</span>
        <a href="checkout"
            class="@(ViewModel.CurrentOrder.Pizzas.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
            Check out >
        </a>
    </div>
</div>

@if (ViewModel.ShowConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="ViewModel.CurrentPizza" OnCancel="ViewModel.CancelConfigurePizzaDialog"
        OnConfirm="ViewModel.ConfirmConfigurePizzaDialog" />
}